/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
resources/private.edn
resources/public/cljs
resources/test
.idea
node_modules
resources/gen-schema.edn
journal*
