{:input-objects
 {:ComicSearch
  {:fields
   {:titleStartsWith {:type String}}}}
 :objects
 {:Image
  {:fields
   {:path {:type String}
    :extension {:type String}}}
  :TextObject
  {:fields
   {:type {:type String}
    :text {:type String}
    :language {:type String}}}
  :Comic
  {:fields
   {:id {:type ID}
    :digitalId {:type ID}
    :description {:type String}
    :title {:type String}
    :textObjects {:type (list :TextObject)}
    :thumbnail {:type :Image}
    :images {:type (list :Image)}}}
  :ComicDataContainer
  {:fields
   {:offset {:type (non-null Int)}
    :limit {:type (non-null Int)}
    :total {:type (non-null Int)}
    :count {:type (non-null Int)}
    :results {:type (non-null (list (non-null :Comic)))}}}
  :ComicList
  {:fields
   {:available {:type (non-null Int)}
    :returned {:type (non-null Int)}
    :collectionURI {:type (non-null String)}}}}
 :queries
 {:comics
  {:type :ComicDataContainer
   :args {:search {:type :ComicSearch}}
   :resolve :query/comics}}}
